# Dependencies
node_modules/
.pnp
.pnp.js

# Build
.next/
out/
dist/

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Bun
# bun.lockb is committed — do not ignore
package-lock.json
yarn.lock
pnpm-lock.yaml
tsconfig.tsbuildinfo
